name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - { name: "armv7hf",  args: '-sdk "1.15" -ubunutu "22.04" -manifest "manifest.json" -tags "prod armv7hf" -arch armv7hf' }
          - { name: "aarch64",  args: '-sdk "1.15" -ubunutu "22.04" -manifest "manifest.json" -tags "prod aarch64" -arch aarch64' }

    env:
      FILE_PREFIX: LegoACAP_${{ github.ref_name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Build Frontend
        working-directory: frontend
        run: |
          npm install
          npm run build
          rm -rf node_modules

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install goxisbuilder
        run: go install github.com/Cacsjep/goxisbuilder@v1.3.0

      - run: mkdir out

      - name: Build ACAP
        working-directory: app
        run: |
          goxisbuilder ${{ matrix.target.args }}
          mv build/* ../out/${{ env.FILE_PREFIX }}_${{ matrix.target.name }}.eap

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target.name }}
          path: out/*.eap

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          path: downloads

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: downloads/**/*.eap
          generate_release_notes: true
